form div {
  padding: 5px;
}

form label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

form textarea {
  width: 60%; /* Decrease the width to make them a little narrower */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  line-height: 1.5;
  resize: vertical;
  margin: 0 auto; /* Center the text areas horizontally */
  display: block;
}

#note-title {
  font-size: 18px;
  height: 40px;
}

#note-text {
  font-size: 16px;
  height: 120px;
}

form button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  background-color: #ffb6c1;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 60%; /* Make the button same width as the text areas */
  display: block;
  margin: 10px auto; /* Center the button */
}

/* When button is disabled */
form button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

/* Optional: make the active one even darker on hover */
form button:not(:disabled):hover {
  background-color: #ff9db3;
}
